:root {
    --savepage-url-12: url('https://www.bsminv.com/en/assets/images/AeCLz4fTU23f1.png');
    --savepage-url-14: url('https://www.bsminv.com/en/assets/images/icY8CKFvio4WO.jpeg');
    --savepage-url-15: url('https://www.bsminv.com/en/assets/images/aLgdt3St1TnX3.jpeg');
    --savepage-url-16: url('https://www.bsminv.com/en/assets/images/kElvYOHAwpM9O.png');
    --savepage-url-17: url('https://www.bsminv.com/en/assets/images/NqqJucf3TQuLi.png');
    --savepage-url-18: url('https://www.bsminv.com/en/assets/images/jGm62eKNfp5nw.png');
    --savepage-url-19: url('https://www.bsminv.com/en/assets/images/F4Qe7bgxMtzo4.jpeg');
    --savepage-url-20: url('https://www.bsminv.com/en/assets/images/iOiikDr1yUcgz.png');
    --savepage-url-21: url('https://www.bsminv.com/en/assets/images/sACW8u2sDvy4o.png');
}



