:root {
    --savepage-url-16: url('bsminv_template/assets/images/AeCLz4fTU23f1.png');
    --savepage-url-18: url('/bsminv_template/assets/images/icY8CKFvio4WO.jpeg');
    --savepage-url-19: url('/bsminv_template/assets/images/aLgdt3St1TnX3.jpeg');
    --savepage-url-20: url('bsminv_template/assets/images/kElvYOHAwpM9O.png');
    --savepage-url-21: url('bsminv_template/assets/images/NqqJucf3TQuLi.png');
    --savepage-url-22: url('bsminv_template/assets/images/jGm62eKNfp5nw.png');
    --savepage-url-23: url('bsminv_template/assets/images/F4Qe7bgxMtzo4.jpeg');
    --savepage-url-24: url('bsminv_template/assets/images/iOiikDr1yUcgz.png');
    --savepage-url-25: url('bsminv_template/assets/images/sACW8u2sDvy4o.png');
}
